/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
h2 {
  color: #8d8d8d;
  font-size: 24px;
}

.clear {
  clear: both;
}

/* HEADER */
.header {
  background-color: #f8e1db;
  padding: 10px 60px;
}

.header ul {
  list-style: none;
  margin: 10px 0 0;
}
.header ul li {
  display: inline;
  margin-right: 30px;
}

/* Với các thẻ a, muốn điều chỉnh màu cần viết selector tới đúng thẻ a để điều chỉnh */
.header ul li a {
  color: black;
  /* text-decoration: line-through; */
  text-decoration: none;
}

/* CAROUSEL */
.carousel {
  background-image: url(./../img/BG.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* PRODUCTS */
.products {
  padding: 80px 0 0;
  background-color: #faf4f2;
  /* background-color: black; */
  text-align: center;
}

.products .products_item {
  float: left;

  /* với giá trị calc cho phép thực hiện phép toán tính ra các số  đo cho width và height */
  width: calc(100% / 4);

  /* chiều dài thẻ html = chiều dài nội dung bên trong  */

  /* tổng chiều dài của dòng = 25% * 4 + 30px (của padding) => vượt quá 25% nên đó là lý do bị rớt dòng */

  /* Để khác phục sử dụng lại công thức => Chiều dài một thẻ html = chiều dài nội dung + padding + border => bằng cách khai báo box-sizing: border-box*/

  padding: 15px;
  /* box-sizing: border-box; */

  /* công thức mới => 25% = nội dung + padding + border */
  /* nên khai báo box-sizing ở reset css */
  /* Lưu ý margin không áp dụng được vì margin đảy bên ngoài thẻ nên công thức này sẽ vô dụng */
}

.products .item_bg {
  background-color: white;
  padding: 40px;
  /* border-radius giúp bo tròn góc phần tử html */
  border-radius: 25px;
  position: relative;
}

.products .item_bg img {
  width: 100%;
  border-radius: 25px;
}

.products .item_bg button {
  /* điều chỉnh độ dày đường viền */
  /* border-width: 10px; */
  /* điều chỉnh màu sắc đường viền */
  /* border-color: orange; */
  /* điều chỉnh kiểu đường viền */
  /* border-style: none; */

  /* viết gọn */
  /* border: 10px solid orange; */

  padding: 13px 54px;
  background-color: #e8e8e8;
  border: none;
  border-radius: 25px;
  margin-top: 11px;
  color: #8d8d8d;
}

.products .item_bg i {
  color: #e76f51;

  /* position là thuộc tính giúp di chuyển phần tử trên giao diện  */
  /* đi kèm với positon sẽ có 4 thuộc tính con hỗ trợ di chuyển */
  /* position relative giúp phần tử di chuyển bắt đầu tính từ vị trí mặc định của phần tử đó */

  /* position: relative; */
  position: absolute;
  top: 60px;
  right: 60px;
  /* left: -100px; */
  /* right: -100px; */
  /* top: -100px; */
  /* bottom: -100px; */

  /* Cách 1 để canh giữa trái tim  */
  /* padding: 15px; */

  /* cách 2 để canh giữa trái tim */
  width: 40px;
  height: 40px;
  line-height: 40px;

  background-color: white;
  border-radius: 12px;

  /* opacity điều chỉnh độ trong suốt của một phần từ */
  opacity: 0.7;
}

.products_content {
  padding-top: 20px;
}

.item_bg h3 {
  margin-top: 11px;
}

.item_bg p {
  margin-top: 11px;
  color: #8d8d8d;
}

.btn {
  margin: 30px 0 60px;
  padding: 13px 60px;
  color: #e76f51;
  background-color: #faf4f2;
  border: 1px solid #e76f51;
  border-radius: 25px;
}

/* INFO */
.info {
  background-color: #f8e1db;
  margin-bottom: 100px;
  border-radius: 20px;
}

.info_img {
  float: left;
  width: 50%;
  padding: 20px 60px;
  background-image: url(./../img/mask.png);
  background-position: center;
  background-size: cover;
}

.info_title {
  float: left;
  width: 50%;
  padding-top: 70px;
}

.info_title p {
  margin: 12px 0 30px;
  color: #8d8d8d;
}

.info_title_left,
.info_title_right {
  float: left;
  width: 50%;
}

.info_title_left h3,
.info_title_right h3 {
  margin-bottom: 21px;
  color: #8d8d8d;
}

.info_title_right i {
  color: #e76f51;
  font-size: 25px;
  margin-right: 10px;
}

/* FOOTER */
.footer {
  background: #f8e1db;
  border-radius: 100px 100px 0 0;
  color: #3b3735;
}

.footer_item {
  padding-top: 70px;
  line-height: 28px;
}

.footer_item li {
  list-style: none;
}

.footer_item ul a {
  color: #3b3735;
  text-decoration: none;
}

.footer_content .footer_item:first-of-type {
  padding: 70px 45px 0px 50px;
  float: left;
  width: 40%;
}

.footer_content .footer_item_link {
  float: left;
  width: calc(60% / 3);
}

.footer_item h3 {
  margin-bottom: 21px;
}

.footer_copyrights {
  text-align: center;
  padding: 30px 0;
}

/* --------------------------------------------- */
.oDen {
  background-color: black;
  width: 200px;
  height: 200px;
  /* margin tạo ra các khoản cách bên ngoài thẻ html */
  /* margin: 20px 40px 60px 80px; */
  /* margin-bottom: 100px; */
  /* margin-top: 100px; */
}

.oCam {
  background-color: orange;
  width: 200px;
  height: 200px;
  /* padding tạo ra khoản cách giữa nội dung và đường viền (border) thẻ */
  padding: 30px;
}

/* Thủ thuật tạo hình tròn của html css */
.demo3 {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
}
